# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

# Set UTF-8 for text/plain and text/html
AddDefaultCharset utf-8

# Error pages
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html

# Prevent git folder from being downloaded
RedirectMatch 404 /\.git

# Redirects for various historical pages
Redirect Permanent /downloads.html /downloads.cgi
Redirect Permanent /media.html /
Redirect Permanent /plugins.html /
Redirect Permanent /documentation/the-sling-engine/eventing-and-jobs.html /documentation/bundles/apache-sling-eventing-and-job-handling.html
Redirect Permanent /documentation/bundles/scripting/scripting-sightly.html /documentation/bundles/scripting/scripting-htl.html

# Add redirects from /site to the CMS-managed content here, after verifying that /site pages have been converted correctly
# Please keep entries in alphabetical order
Redirect Permanent /site/46-line-blog.html /documentation/tutorials-how-tos/46-line-blog.html
Redirect Permanent /site/accessing-filesystem-resources-extensionsfsresource.html /documentation/bundles/accessing-filesystem-resources-extensions-fsresource.html
Redirect Permanent /site/architecture.html /documentation/the-sling-engine/architecture.html
Redirect Permanent /site/adapters.html /documentation/the-sling-engine/adapters.html
Redirect Permanent /site/apache-sling.html /index.html
Redirect Permanent /site/apache-sling-commons-thread-pool.html /documentation/bundles/apache-sling-commons-thread-pool.html
Redirect Permanent /site/apache-sling-community-roles-and-processes.html /project-information/apache-sling-community-roles-and-processes.html
Redirect Permanent /site/apache-sling-eventing-and-job-handling.html /documentation/bundles/apache-sling-eventing-and-job-handling.html
Redirect Permanent /site/assembly.html /old-stuff/assembly.html
Redirect Permanent /site/authentication.html /documentation/the-sling-engine/authentication.html
Redirect Permanent /site/authentication-actors.html /documentation/the-sling-engine/authentication/authentication-actors.html
Redirect Permanent /site/authentication-authenticationhandler.html /documentation/the-sling-engine/authentication/authentication-authenticationhandler.html
Redirect Permanent /site/authentication-framework.html /documentation/the-sling-engine/authentication/authentication-framework.html
Redirect Permanent /site/authentication-tasks.html /documentation/the-sling-engine/authentication/authentication-tasks.html
Redirect Permanent /site/bundle-resources-extensionsbundleresource.html /documentation/bundles/bundle-resources-extensions-bundleresource.html
Redirect Permanent /site/bundles.html /documentation/bundles.html
Redirect Permanent /site/client-request-logging.html /documentation/development/client-request-logging.html
Redirect Permanent /site/commons-html-utilities.html /documentation/bundles/commons-html-utilities.html
Redirect Permanent /site/configuration.html /documentation/configuration.html
Redirect Permanent /site/content-loading.html /documentation/bundles/content-loading-jcr-contentloader.html
Redirect Permanent /site/content-loading-jcrcontentloader.html /documentation/bundles/content-loading-jcr-contentloader.html
Redirect Permanent /site/contributing.html /contributing.html
Redirect Permanent /site/dependency-management.html /documentation/development/dependency-management.html
Redirect Permanent /site/development.html /documentation/development.html
Redirect Permanent /site/discover-sling-in-15-minutes.html /documentation/getting-started/discover-sling-in-15-minutes.html
Redirect Permanent /site/dispatching-requests.html /documentation/the-sling-engine/dispatching-requests.html
Redirect Permanent /site/downloads.cgi /downloads.cgi
Redirect Permanent /site/downloads.html /downloads.cgi
Redirect Permanent /site/documentation.html /documentation.html
Redirect Permanent /site/errorhandling.html /documentation/the-sling-engine/errorhandling.html
Redirect Permanent /site/eventing-and-jobs.html /documentation/the-sling-engine/eventing-and-jobs.html
Redirect Permanent /site/filters.html /documentation/the-sling-engine/filters.html
Redirect Permanent /site/form-based-authenticationhandler.html /documentation/the-sling-engine/authentication/authentication-authenticationhandler/form-based-authenticationhandler.html
Redirect Permanent /site/getting-and-building-sling.html /documentation/development/getting-and-building-sling.html
Redirect Permanent /site/getting-resources-and-properties-in-sling.html /documentation/tutorials-how-tos/getting-resources-and-properties-in-sling.html
Redirect Permanent /site/getting-started.html /documentation/getting-started.html
Redirect Permanent /site/how-to-manage-events-in-sling.html /documentation/tutorials-how-tos/how-to-manage-events-in-sling.html
Redirect Permanent /site/how-to-manage-events-in-sling.data/DropBoxEventHandler.java /documentation/tutorials-how-tos/DropBoxEventHandler.java
Redirect Permanent /site/how-to-manage-events-in-sling.data/DropBoxService.java /documentation/tutorials-how-tos/DropBoxService.java
Redirect Permanent /site/incubator-status-report-february-2008.html /project-information.html
Redirect Permanent /site/incubator-status-report-may-2008.html /project-information.html
Redirect Permanent /site/incubator-status-report-november-2007.html /project-information.html
Redirect Permanent /site/incubator-status-report-october-2007.html /project-information.html
Redirect Permanent /site/index.html /index.html
Redirect Permanent /site/index.data/ApacheConUS07_FFT_Sling.pdf /res/docs/ApacheConUS07_FFT_Sling.pdf
Redirect Permanent /site/installing-and-upgrading-bundles.html /documentation/tutorials-how-tos/installing-and-upgrading-bundles.html
Redirect Permanent /site/internationalization-support.html /documentation/bundles/internationalization-support-i18n.html
Redirect Permanent /site/issue-tracker.html /documentation/development/issue-tracker.html
Redirect Permanent /site/jackrabbit-persistence.html /documentation/tutorials-how-tos/jackrabbit-persistence.html
Redirect Permanent /site/jcr-installer-jcrjcrinstall-and-osgiinstaller.html /documentation/bundles/jcr-installer-provider.html
Redirect Permanent /site/jcr-installer-provider.html /documentation/bundles/jcr-installer-provider.html
Redirect Permanent /site/links.html /links.html
Redirect Permanent /site/links.data/ApacheConEU08_FFT_Sling.pdf /res/docs/ApacheConEU08_FFT_Sling.pdf
Redirect Permanent /site/links.data/ApacheConEU08_JCR_Meetup_Sling_Architecture.pdf /res/docs/ApacheConEU08_JCR_Meetup_Sling_Architecture.pdf
Redirect Permanent /site/links.data/ApacheConUS07_FFT_Sling.pdf /res/docs/ApacheConUS07_FFT_Sling.pdf
Redirect Permanent /site/logging.html /documentation/development/logging.html
Redirect Permanent /site/managing-users-and-groups-jackrabbitusermanager.html /documentation/bundles/managing-users-and-groups-jackrabbit-usermanager.html
Redirect Permanent /site/manipulating-content-the-slingpostservlet.html /documentation/bundles/manipulating-content-the-slingpostservlet-servlets-post.html
Redirect Permanent /site/manipulating-content-the-slingpostservlet-servletspost.html /documentation/bundles/manipulating-content-the-slingpostservlet-servlets-post.html
Redirect Permanent /site/mappings-for-resource-resolution.html /documentation/the-sling-engine/mappings-for-resource-resolution.html
Redirect Permanent /site/media.html /
Redirect Permanent /site/mime-type-support-commonsmime.html /documentation/bundles/mime-type-support-commons-mime.html
Redirect Permanent /site/monitoring-requests.html /documentation/development/monitoring-requests.html
Redirect Permanent /site/news.html /news.html
Redirect Permanent /site/openid-authenticationhandler.html /documentation/the-sling-engine/authentication/authentication-authenticationhandler/openid-authenticationhandler.html
Redirect Permanent /site/osgi-installer.html /documentation/bundles/osgi-installer.html
Redirect Permanent /site/output-rewriting-pipelines-orgapacheslingrewriter.html /documentation/bundles/output-rewriting-pipelines-org-apache-sling-rewriter.html
Redirect Permanent /site/plugins.html /
Redirect Permanent /site/project-information.html /project-information.html
Redirect Permanent /site/project-license.html /project-information/project-license.html
Redirect Permanent /site/project-team.html /project-information/project-team.html
Redirect Permanent /site/provisioning-and-startup.html /documentation/getting-started.html
Redirect Permanent /site/release-management.html /documentation/development/release-management.html
Redirect Permanent /site/reports.html /project-information.html
Redirect Permanent /site/request-listeners.html /documentation/the-sling-engine/request-listeners.html
Redirect Permanent /site/request-parameters.html /documentation/the-sling-engine/request-parameters.html
Redirect Permanent /site/resources.html /documentation/the-sling-engine/resources.html
Redirect Permanent /site/run-modes-org-apache-sling-runmode.html /old-stuff/run-modes-org-apache-sling-runmode.html
Redirect Permanent /site/scheduler-service-commons-scheduler.htm /documentation/bundles/scheduler-service-commons-scheduler.html
Redirect Permanent /site/security.html /project-information/security.html
Redirect Permanent /site/servlet-resolution.html /documentation/the-sling-engine/servlets.html
Redirect Permanent /site/servlets.html /documentation/the-sling-engine/servlets.html
Redirect Permanent /site/sling.html /documentation/development/sling.html
Redirect Permanent /site/sling-settings-org-apache-sling-settings.html /documentation/bundles/sling-settings-org-apache-sling-settings.html
Redirect Permanent /site/sling-testing-tools.html /documentation/development/sling-testing-tools.html
Redirect Permanent /site/testing-sling-based-applications.html /documentation/tutorials-how-tos/testing-sling-based-applications.html
Redirect Permanent /site/the-sling-engine.html /documentation/the-sling-engine.html
Redirect Permanent /site/the-sling-launchpad.html /documentation/the-sling-engine/the-sling-launchpad.html
Redirect Permanent /site/thoughts-on-release-management.html https://cwiki.apache.org/confluence/x/FyAB
Redirect Permanent /site/tutorials-how-tos.html /documentation/tutorials-how-tos.html
Redirect Permanent /site/thread-handling.html /documentation/bundles/apache-sling-commons-thread-pool.html
Redirect Permanent /site/url-decomposition.html /documentation/the-sling-engine/url-decomposition.html
Redirect Permanent /site/usecases.html /index.html
Redirect Permanent /site/version-policy.html /documentation/development/version-policy.html
Redirect Permanent /site/web-console-extensions.html /documentation/bundles/web-console-extensions.html
Redirect Permanent /site/webdav.html /documentation/development/repository-based-development.html
Redirect Permanent /site/wiki.html http://s.apache.org/sling.wiki
Redirect Permanent /site/wrap-or-decorate-resources.html /documentation/the-sling-engine/wrap-or-decorate-resources.html
Redirect Permanent /site/xslt-processing-pipeline.html /old-stuff/scriptengineintegration/xslt-processing-pipeline.html
Redirect Permanent /javadoc-io.html /documentation/apidocs.html
